<!doctype html>
<html>
  <head>
    <title>Search Results</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <a href="/posts"><button class="home-btn"><i class="fa fa-arrow-left"></i> View All Posts</button></a>
    <h1>You searched for these posts in <%=forumName%></h1>
    <% if(users.length === 0){ %>
      <p>Sorry, there are no posts in this topic</p>
      <a href="/topics">Click here to view the list of topics</a>
    <% } %>
    <!-- lists the posts with the post details -->
    <div class="list-container">
      <% users.map((post)=>{ %>
        <div class="card">
          <p class="post-date"><%=post.post_date.toString().substring(0,15) %> <%=post.post_time%></p>
          <h4 class="author"><%=post.first_name%> <%=post.last_name%><span id="author-username"> @<%=post.username%></span></h4>
          <p class="post-topic"><b>Topic:</b> <%=post.name%></p>
          <p></p>
          <p id="description-body"><%=post.content%></p>
        </div>
        <% }) %>
    </div>
  </body>
</html>
